body{
  margin:0;
  padding:0;
}
html, body {
  /* overflow: hidden; */
}

.gameControls {
  width:calc(100wh - 42px);
  position: fixed;
  z-index: 9999;
  top:0;
  left:0;
  right:0;
  padding: 20px;
  height:100px;
  /* height:calc(100vh - 42px); */
  background:rgba(255,255,255,.5);
}

.masterGrid {
  border:1px solid yellow;
  height:100px;
  width:100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.white {
  background-color: white;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}